body{
	margin: 0;
	padding: 0;
	font-family: "Arial", "Verdana", sans-serif;
	background-color: #eef0e4;
}
#header{
    height: 61px;
	width: 100%;
	background: #72BBCF url(/files/img/header-back.png) repeat-y;	
}
.header-derecha{
	float: right;	
}
a{
	outline: none;
}
.header-buttons{
	float: left;
	margin-top: 10px;
}
.clean{
	clear: both;
}
.main-nav{
	display: block;
	float: left;
	height: 31px;
	text-transform: uppercase;
	color: #fff;
	background: #46a6c0;
	border: 1px #98dbe3 solid;
	padding: 0px 8px;
	text-decoration: none;
	line-height: 31px;
	margin-left: 5px;
	margin-right: 5px;
	font-weight: bold;
	font-size: 12px;	
}
.main-nav:hover{
	background: #398fa6;
}
.header-user-data{
	float: left;
}
.user-logged{
	height: 61px;
	float: left;
	padding: 0px 10px;
	border-right: 1px #9acccc solid;
}
.user-logged div.user-data{
	padding-top: 10px;
	color: #484848;
	font-size: 12px;
	line-height: 18px;		
}
.global-links{
	padding-top: 10px;
}
.global-links a{
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	line-height: 20px;
	text-decoration: none;
}
.global-links a:hover{
	color: #98dbe3;
}
.logged-nav{
	float: left;
	padding: 0px 10px;
}
.logo-hivos img{
	border-right: 2px #a40000 solid;
}
.banda{
	background: #383838;
	height: 27px;
	border-top: 2px #000 solid;
	padding-left: 10px;
}
.sistema-nombre{
	line-height: 27px;
	font-size: 14px;
	color: #bdbebc;
}
.guardarXLS, .viewGraph{
	display: block;
	float: right;
	width: 96px;
	height: 28px;
	background: url(/files/img/xls-sprite.png) no-repeat;
	text-indent: -9999px;		
}
.guardarXLS:hover, .viewGraph:hover{
	background-position: 0px -28px;
}
.viewGraph{
	margin-right: 5px;
	background: url(/files/img/grafo.png) no-repeat;
}
.spin{
	float: right;	
	position: relative;	
	width: 16px;
	height: 16px;
	margin-right: 8px;
	margin-top: 7px;			
}
#footer{
	margin-top: 15px;	
	background: url(/files/img/footer-line.png) repeat-x top;
	color: #5a5a5a;
	font-size: 13px;
	padding: 20px;
	font-family: "Trebuchet MS", "Verdana", sans-serif;
}
#footer a{
	text-decoration: none;
	font-weight: bold;
	color: #5a5a5a;	
}
#footer a:hover{
	text-decoration: underline;
}
form.select-year{
	margin-left: 10px;
}
form.select-year label{
	font-family: "Arial", "Verdana", sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-right: 6px;
	text-transform: uppercase;	
}
input[type='submit']{
	background: url(/files/img/submit-back.png) repeat-x;
	font-size: 	17px;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 5px;  
 	-moz-border-radius:5px;  
 	-webkit-border-radius:5px;
 	padding: 3px;
}
input[type='submit']:hover{
	color: #2b1100;
}
form.select-year select{
	padding: 3px;
}
.indicadores-form-div{
	float: left;
	width: 50%;
}
img{
	border: none;
}
.titulo-indicadores-form{
	height: 44px;	
	background: url(/files/img/footer-line.png) repeat-x bottom;
	line-height: 44px;
	text-transform: uppercase;
	color: #2e3436;
	margin-bottom: 10px;
	font-size: 13px;
	padding-left: 10px;	
	font-weight: bold;
}
form.indicadores-form{
	padding-left: 10px;
}
.resultados-container{	
	float: left;
	width: 50%;
}
.resultados-interna a{
	display: block;
	float: left;
	background: url(/files/img/resultados-back.jpg);	
	border-radius: 3px;  
 	-moz-border-radius:3px;  
 	-webkit-border-radius:3px;
 	border: 1px #a5abb1 solid;
 	width: 142px;
 	height: 64px; 	
 	margin: 10px;
 	text-align: center;
 	color: #545454;
 	font-size: 15px;
 	text-decoration: none;
 	padding: 23px 5px 0px 5px;
 	box-shadow: 1px 3px 3px #bdbdbd;
 	-moz-box-shadow: 1px 3px 3px #bdbdbd;
 	-webkit-box-shadow: 1px 3px 3px #bdbdbd;
}
.resultados-interna a:hover{
	color: #ab2b3b;
	box-shadow: 1px 3px 3px #959595;
 	-moz-box-shadow: 1px 3px 3px #959595;
 	-webkit-box-shadow: 1px 3px 3px #959595;
}
.botones-results{
	width: 530px;	
	float: left;	
}
form.indicadores-form table label{
	font-family: "Arial", sans-serif;	
	color: #383838;	
	font-size: 14px;
	text-transform: none;
	font-weight: normal;	
}
form.indicadores-form input[type='submit']{
	float: right;
}

/*------------------------------ CSS para TABLAS --------------------------------*/
caption {
	text-align: left;
	font-size: 15px;
	color: #8c8f3d;
	font-family: Trebuchet MS, Verdana, sans-serif;
	padding-left: 13px;
	padding-top: 5px;
}
th {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
	color: #069;
	border-right: 1px solid #ded3ba;
	border-bottom: 1px solid #ded3ba;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: left;
	font-weight: bold;
	padding: 10px 5px 4px 12px;
	background: #EDEBEA url(/files/images/bg_header.png) repeat-x;
	vertical-align: middle;
}
td {
	font: normal 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	border-right: 1px solid #E0DDD2;
	border-bottom: 1px solid #E0DDD2;
	padding: 6px 12px 6px 12px;
	color: #696969;
	background: #FFFFFF;
}
.derecha{
	text-align: right;
}
.centrado{
	text-align: center;
}
.negrita{
	font-weight: bold;
}
.ui-tabs-panel{
	padding: 0em !important;
	padding-top: 0.6em !important;
}
.org-profile{
	float: left;
	width: 29%;
	margin-top: 15px;
	padding-left: 1%;	
}
.gantt-calendar{
	float: left;
	width: 68%;
	margin-top: 15px;
	padding-left: 1%;
	padding-right: 1%;
}
.index-calendar-title{
	font-size: 14px;
	background: #0f5367 url(/files/img/index-calendar-back.png) repeat-x;
	color: #fff;
	font-weight: bold;
	height: 28px;
	line-height: 28px;
	padding-right: 8px;
	padding-left: 8px;
	border: 2px #007ba6 solid;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
 	-moz-border-radius-topright: 5px;
 	-moz-border-radius-topleft: 5px;  
 	-webkit-border-top-right-radius: 5px;
 	-webkit-border-top-left-radius: 5px;
}
.right-text{
	text-align: right;
}
.index-label, .index-field{
	border-bottom: 1px #d2dbdf solid;
	border-left: 1px #d2dbdf solid;
	border-right: 1px #d2dbdf solid;
	color: #333;
}
.index-label{
	background: #e5f5f6;	
	padding: 5px 8px;	
	font-weight: bold;
}
.index-field{
	background: #fff;
	padding: 7px 8px;
}
.calendar-title, .proyecto_name{		
	width: 29%;	
	float: left;
	border-bottom: 1px #d2dbdf solid; 
	padding: 5px 0px 5px 1%;
	background: #e5f5f6;
	color: #333;
}
#calendar-meses{
	border: none;
	width: 70%;
	float: left;
	border-bottom: 1px #d2dbdf solid;
}
.calendar-month{
	border: none;
	float: left;
	width: 8.333%;	
	padding: 5px 0px;
	background: #e5f5f6;
	color: #333;
	text-align: center;
}
.proyecto{
	width: 100%;		
}
.proyecto_name{
	background: #fff;
	padding: 10px 0px 10px 1%;
}
.proyecto_meses{
	float: left;
	width: 70%;	
}
.proyecto_month{	
	float: left;
	width: 8.333%;	
	background: #fff;
	border-bottom: 1px #fff solid;
}
.filters{
	background: #fff;
	border: 1px #d2dbdf solid;
}
.gantt-filter{
	float: right;
	background: #fff;
	padding: 8px 5px;	
}
.gantt-filter select{	
	width: 110px;
}
.gantt-filter input[type='submit']{
	width: 80px;
	font-size: 12px;
	margin-right: 5px;
}
.gantt-orgnizacion{
	float: left;
	padding-left: 10px;
	line-height: 35px;
}
.month_estilo_1{
	background: #96dbd8 url(/files/img/style_1.png) repeat-x !important;
	border-bottom: 1px #72bbcf solid;
}
.month_estilo_2{
	background: #fe5007 url(/files/img/style_2.png) repeat-x !important;
	border-bottom: 1px #fe5007 solid;
}
.blanco_borde{
	border-bottom: 1px #d2dbdf solid !important;
}
.home-nav{
	display: none;
}
.home{
	margin-top: 30px;	
}
.bigbuttons{
	float: left;
	width: auto;
	padding-left: 10px;	
}
.bigbuttons a{
	width: 225px;
	height: 155px;
	display: block;
	float: left;
	margin-left: 10px;		
}
.bigbuttons a:hover{
	background-position: 0px -155px;
}
.influencia-b{
	background: url(/files/img/influencia.png) no-repeat;	
}
.indicadores-b{
	background: url(/files/img/indicadores.png) no-repeat;	
}
.generales-b{
	background: url(/files/img/generales.png) no-repeat;	
}
.otroslinks{
	float: left;
	margin-left: 20px;	
}
.otroslinks .title{
	font-family: "Times New Roman", sans-serif;
	font-size: 20px;
	color: #8e908d;
}
.otroslinks a{
	color: #dd0d28;
	font-family: "Georgia", sans-serif;
	font-size: 13px;
	display: block;
	text-decoration: none;
	margin-top: 6px;	
}
.otroslinks a:hover{
	text-decoration: underline;
}	
.crono{
	height: 25px;
	background: url(/files/img/crono.png) no-repeat;
	padding-left: 35px;
	line-height: 25px;
}
.manual{
	height: 30px;
	line-height: 30px;
	background: url(/files/img/manual.png) no-repeat;
	padding-left: 35px;
}
.introfed{
	margin-top: 20px;
	background: #fff;
	min-height: 100px;
	padding-left: 30px;
	padding-right: 30px;
	font-family: Arial, sans-serif;
	padding-top: 20px;
	padding-bottom: 20px;	
}
.fed{
	float: left;
	width: 165px;
	color: #505050;
	font-size: 11px;
	border-right: 1px #d3d7cf solid;	
	margin-right: 30px;
}
.name{
	font-size: 45px;
	color: #0d5a71;	
}
.descfed{
	float: left;
	color: #244955;
	font-size: 13px;	
}

.carrusel-title{
	font-size: 17px;
	color: #c1c7bb;
	border-top: 1px #d3d7cf solid;
	padding-top: 10px;
	padding-right: 10px;
	margin-bottom: 6px;
	margin-top: 15px;		
}
/*Carrusel code*/
.carrusel{
    height: 115px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 16px;
    background: #fff;
    /* -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px; */
/*     -moz-box-shadow: 0px 1px 4px #959595; */
/*     -webkit-box-shadow: 0px 1px 4px #959595; */
/*     box-shadow: 0px 1px 4px #959595; */
}
#carrusel-container{    
    float: left;
    margin-top: 12px !important;    
}
#fotocarrusel{
    width: 885px !important;
}
#carrusel-container ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.carrusel-button-prev, .carrusel-button-next{
    float: left;        
    width: 21px;
    height: 70px;
    background: url(/files/img/carrusel-sprite.png) no-repeat;
    margin-top: 23px;
    cursor: pointer;    
}
.carrusel-button-next{
    background-position: 0px -70px;
    float: right;
    margin-right: 5px;
    margin-left: 2px;
}
.carrusel-button-next:hover{
    background-position: -21px -70px;
}
.carrusel-button-prev{
    margin-left: 5px;
    margin-right: 2px;
}
.carrusel-button-prev:hover{
    background-position: -21px 0px;
}
.carrusel-item{
    float: left;
    margin-left: 3px;
    margin-right: 3px;
}
.carrusel-item img{
    border: 2px #ccc solid;
}
.carrusel-item img:hover{
    border: 2px #959595 solid;
}
.orgdescripcion{
	color: #244955;
	font-size: 13px;
	font-family: "Arial", serif;
	width: 100%;
	background: #fff;	
}
.orgdescripcion .contenidoorg{
	padding: 10px;
}
.orgdescripcion .orgtitle{
	font-weight: bold;
}
p{
	padding: 0;
	margin: 0;
}
.orgheader{
	margin-top: 5px;
	padding: 20px;
}
.orglogo{
	float: left;
	width: 180px;	
}
.orglogo img{
	padding: 10px;
	background: #fff;
}
.orgdata{
	float: left;
	width: 760px;
	font-family: "Arial", serif;	
}
.orgname{
	color: #0d5a71;
	font-size: 22px;
}
.orglargo{
	color: #a4505a;
	font-size: 18px;
}
.orgproys{
	border-top: 1px #dcdcdb solid;
	padding-top: 15px;
	margin-top: 15px;
}
.proys{
	color: #0d5a71;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 5px;
}
.proyficha{
	color: #333;
	font-size: 14px;
	padding-bottom: 8px;	
}
.proydate{
	color: #628690;
}
.auxiliar{
	font-size: 14px;
}
