<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>SISME | {% block title %}{% endblock %}</title>
<link type="text/css" rel="stylesheet"  href="{{STATIC_URL}}css/sisme.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
{% block extra_head %}
{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>