<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>SISME | {% block title %}{% endblock %}</title>
<link type="text/css" rel="stylesheet"  href="{{STATIC_URL}}css/sisme.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script src="http://turismoruralnica.com/files/js/jquery.cookie.js" type="text/javascript"></script>
<script src="/files/js/table.exporting.js" type="text/javascript"></script>
<script src="/files/js/sum.column.js" type="text/javascript"></script>
{% block extra_head %}
{% endblock %}
</head>
<body>
	<div id="header">
		<a class="logo-hivos" href="/"><img src="/files/img/hivos-logo.jpg" alt="Hivos"></a>&nbsp;&nbsp;
		<a class="logo-fed" href="/"><img src="/files/img/logofed.png" alt="Fed"></a>
		<div class="header-derecha">
			<div class="header-buttons">
				<a class="main-nav" href="/generales/">Datos generales</a> 
				<a class="main-nav" href="/a/influencia/">Area de influencia</a> 
				<a class="main-nav" href="/a/indicadores/">Avance de indicadores</a>
				<div class="clean"></div>
			</div>
			<div class="header-user-data">
				<div class="user-logged">
					<div class="user-data">
					byron corrales<br>
					SIMAS
					</div>					
				</div>
				<div class="logged-nav">
					<div class="global-links">
						<a href="/admin">Administración &raquo;</a><br>
						<a href="/logout">Salir &raquo;</a>
					</div>
				</div>
			</div>
			<div class="clean"></div>
		</div>
		<div class="clean"></div>
	</div>
	<div class="banda">
		<span class="sistema-nombre">Sistema de seguimiento, monitoreo y evaluación</span>		
		<div class="banda-right">
		{% block banda %}
		{% endblock %}
		</div>
	</div>	
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
	<div class="clean"></div>
	<div id="footer">
		Desarrollado por <a href="http://www.simas.org.ni">SIMAS</a> bajo plataforma <a href="http://www.djangoproject.com">Django</a>
	</div>
</body>
</html>