{% load tools %}
<a class="guardarXLS" href="#" onclick="exportarXLS('{{titulo|slugify}}'); return false;">Guardar XLS</a><div class="clean"></div> 
<div id="{{titulo|slugify}}">
	<table width="100%">
		<caption>{{titulo}}</caption>
		<thead>
			<tr>
				<th>{{primer_td}}</th>
				{% for key, value in tabla.items|slice:":1" %}
				{% for k in value.keys %}
				<th class="centrado">{{k}}</th>
				{% endfor %}
				{% endfor %}
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			{% for key, value in tabla.items %}
			<tr>
				<td>{{key}}</td>
				{% for k, v in value.items %}
				<td class="{{k|slugify}}">{{v}}</td>
				{% endfor %}
				<td class="general_{{titulo|slugify}}">{{value|total_dict}}</td>
			</tr>			
			{% endfor %}
			<tr>
				<td class="negrita">Total</td>
				{% for key, value in tabla.items|slice:":1" %}
				{% for k in value.keys %}				
				<td id="{{k|slugify}}_total_{{titulo|slugify}}" class="calcular-total"></td>
				{% endfor %}
				{% endfor %}
				<td id="general_{{titulo|slugify}}_total_" class="calcular-total"></td>
			</tr>
			
		</tbody>
	</table>
</div>
<!-- calcular los totales al final de la tabla -->
<script type="text/javascript">	
	$(document).ready(function(){
		$('.calcular-total').each(function(){
			var id = $(this).attr('id');			
			sumAndputHere('{{titulo|slugify}} table', id.split('_total_')[0], id, 0);			
		});
	});
</script>
<br><br>