{% extends "base.html" %}
{% block title %}Avance de indicadores{% endblock %}

{% block extra_head %}
<link href="/files/css/jquery.multiselect.css" rel="stylesheet" type="text/css"/>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<script src="/files/js/jquery.multiselect.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function(){
		var modalidad = $("#id_modalidad").multiselect({
	        noneSelectedText: 'Todos las modalidades',
	        selectedText: '# seleccionados',
	        minWidth: 230,
	        beforeclose: function(event, ui){
	            var selectos = $("#id_modalidad").multiselect("getChecked").map(function(){
	                return this.value;
	            }).get();
	            if(selectos.length!=0){
	                $.getJSON('/ajax/orgs/?ids='+selectos.join(","), function(data){
	                    $('#id_organizacion').html('');
	                    if(data){
	                        $.each(data, function(i, item){
	                            $('<option></option>').val(item.id).html(item.nombre_corto).appendTo(orgs)
	                        });
	                        orgs.multiselect('refresh');
	                        orgs.multiselect("enable");
	                    }
	                });
	                orgs.multiselect("enable");
	            }else{
	                orgs.multiselect("disable");
	            }
	        }
	    });
		$("#id_organizacion").html('');
		var orgs = $("#id_organizacion").multiselect({
	        noneSelectedText: 'Todos las organizaciones',
	        selectedText: '# seleccionados',
	        minWidth: 230
	    });
		orgs.multiselect("disable");
		$("#id_resultado").multiselect({
	        noneSelectedText: 'Todos los resultados',
	        selectedText: '# seleccionados',
	        minWidth: 230
	    });
		$("#id_meses").multiselect({
	        noneSelectedText: 'Mes',
	        selectedText: '# seleccionados',
	        minWidth: 130
	    });
	});
</script>
{% endblock %}

{% block content %}
<div class="wrapper">
	<div class="indicadores-form-div">
		<div class="titulo-indicadores-form">Filtro de avance de indicadores</div>
		<form action="." method="POST" class="indicadores-form" style="width:90%">
		{% csrf_token %}
			<table width="100%">
				<tbody>
					<tr>
						<th>{{form.modalidad.label_tag}}</th>
						<td>{{form.modalidad}}</td>
					</tr>
					<tr>
						<th>{{form.organizacion.label_tag}}</th>
						<td>{{form.organizacion}}</td>
					</tr>
					<tr>
						<th>{{form.resultado.label_tag}}</th>
						<td>{{form.resultado}}</td>
					</tr>
					<tr>
						<th><label>Período de informe</label></th>
						<td>{{form.meses}} {{form.anio}} {{form.meses.errors}} {{form.anio.errors}}</td>
					</tr>									
				</tbody>
			</table><br>
			<input type="submit" name="submit" value="Consultar" />
		</form>
	</div>
	<div class="resultados-container">
		<div class="titulo-indicadores-form">Resultados</div>
		<div class="resultados-interna">
		{% if centinela == 1 %}
			<div class="botones-results">
				<a href="/a/impulsando-politicas-publicas/">Impulsando políticas públicas</a>
				<a href="/a/demandando-justicia/">Demandando justicia para la igualdad</a>
				<a href="/a/involucramiento-poblacion/">Involucramiento de poblaciones meta</a>								
			</div>			
			<div class="botones-results">			
				<a href="#">Prevención de violencia</a>
				<a href="#">Acceso a servicios para víctimas</a>
				<a href="#">Capacidad técnica de las OSC</a>				
			</div>
			<div class="clean"></div>			
		</div>		
		{% endif %}
	</div>
	<div class="clean"></div>
	{{informes}}
</div>
{% endblock %}
