<!-- Participacion en comisiones -->
{% with tabla=tabla_tipo_comisiones titulo='Participación en comisiones' primer_td='Organización' colspan=6 titulo_combinado='Tipos de comisiones' %}
{% include "tabla_generica.html" %}
{% endwith %}

<!-- Participacion en comisiones por ambito territorial -->
{% with tabla=tabla_ambito_comisiones titulo='Ambito de las comisiones' primer_td='Ambito de comisiones' colspan=6 titulo_combinado='Tipos de comisiones' %}
{% include "tabla_generica.html" %}
{% endwith %}

<!-- Participacion en comisiones por ambito territorial -->
{% with tabla=tabla_comision_estado titulo='Efectividad de las acciones promovidas en las diferentes instancias' primer_td='Tipo de comisiones' colspan=3 titulo_combinado='Estado de accion' %}
{% include "tabla_generica.html" %}
{% endwith %}